h1, h2, h3, h4, h5 {
  color: rgba(0, 0, 0, 0.87);
  font-family: 'Mukta Vaani', sans-serif;
  letter-spacing: 1px;
  line-height: 2em;
  text-transform: uppercase;
  margin: 0px; }

p {
  font-family: 'Roboto', sans-serif;
  margin: 0px; }

.loginButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px; }

.whoWowHeader, .whoWowLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 150px; }
  .whoWowHeader h1, .whoWowLogin h1 {
    font-size: 14px;
    margin-top: 24px; }

@media only screen and (max-width: 736px) {
  .whoWowHeader {
    justify-content: space-around; }
    .whoWowHeader img:nth-of-type(1) {
      position: relative !important;
      top: 0px !important;
      left: 0px !important; }
    .whoWowHeader h1 {
      margin-top: 10px; } }

.whoWowLogin {
  height: 286px; }

.whoWowBody {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-left: 20px; }
  @media only screen and (max-width: 736px) {
    .whoWowBody {
      flex-direction: column;
      align-items: center;
      padding-left: 0px; }
      .whoWowBody .profileButton {
        width: 100% !important; } }

.profileForm {
  height: 1034px;
  margin-left: 20px; }
  .profileForm .profileDisplay {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .profileForm h2 {
    color: #9A9A9A;
    font-family: Roboto;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 15px;
    margin-bottom: 20px; }
  .profileForm p {
    height: 20px;
    width: 168px;
    opacity: 0.4;
    color: #000000;
    font-family: Roboto;
    font-size: 17px;
    line-height: 20px; }
  @media only screen and (max-width: 736px) {
    .profileForm {
      margin-left: 0px; }
      .profileForm .profileDisplay {
        height: 100px;
        align-items: center; }
      .profileForm h2 {
        margin-bottom: 10px; } }

.canvasInput {
  display: flex;
  flex-direction: column;
  height: auto !important;
  margin: 10px 0px; }
  .canvasInput label {
    height: 15px;
    width: 82px;
    color: #555555;
    font-family: "Mukta Vaani";
    font-size: 11.75px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 15px;
    padding-bottom: 10px;
    text-transform: uppercase; }
  .canvasInput input[type='text'] {
    box-sizing: border-box;
    color: #555555;
    font-family: Roboto;
    font-size: 12.5px;
    line-height: 17px;
    padding-left: 10px;
    width: 363px;
    border: 1px solid #EAEAEA;
    border-radius: 2px;
    background-color: #FFFFFF;
    height: 54px; }
    .canvasInput input[type='text']:focus {
      border: 1.5px solid #C6C6C8;
      outline: none; }
  .canvasInput textarea {
    box-sizing: border-box;
    color: #555555;
    font-family: Roboto;
    font-size: 12.5px;
    line-height: 17px;
    padding-left: 10px;
    width: 363px;
    border: 1px solid #EAEAEA;
    border-radius: 2px;
    background-color: #FFFFFF;
    height: auto;
    resize: none;
    padding-top: 10px; }
    .canvasInput textarea:focus {
      border: 1.5px solid #C6C6C8;
      outline: none; }
  .canvasInput .canvasSelect {
    width: 363px !important;
    border-bottom: 1px solid #EAEAEA;
    border-top: 1px solid #EAEAEA; }
    .canvasInput .canvasSelect.error {
      border-color: #F58A8A;
      color: #F58A8A !important; }
  .canvasInput.error input[type='text'], .canvasInput.error textarea {
    border-color: #F58A8A; }
